# Compiled source 
#
###################

*.dcu

*.obj

*.exe

*.ico

*.rsm

*.plist

*.icns


# Backup files    
#
###################

*.~*


# IDE Files	  
#
###################

*.dproj.local

*.groupproj.local

*.identcache

*.dsk

*.tvsconfig

*.txaPackage


# Output Folders  
#
###################

src/projects/OSX32
src/projects/Win32
src/projects/Win64
src/projects/Android
src/projects/iOSDevice
src/projects/iOSSimulator
bin



# svn             
#
###################

/.svn

*.svn-base
all-wcprops
entries


